table, .board-row, .square {
  border: 1px solid black;
}

.square {
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}

#current-move {
  border: 1px solid black;
  height: 50px;
  width: 150px;
}