main {
  background-color: aliceblue;
}

#board, .board-row, .square {
  border: 1px solid black;
}

#game-container {
  display: flex;
}

#board {

}

.square {
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 550;
  text-align: center;
}

#captured-pieces-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.captured-pieces {
  display: flex;
  font-size: 30px;
  flexwrap: wrap;
  width: 300px;
  height: 50px;
  margin: 10px;
}